{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div calss="row">
        <p>Hi {{ request.user.username }}! These are all protocols</p>
        <div class="row">

            <div id="protocol_list" class="col-">


                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Protocol Name</th>
                            <!-- <th>Updated Time</th>
                            <th>Uploaded By</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for protocol in protocols %}
                        <tr>
                            <td>{{ protocol.id }}</td>
                            <td>
                                <!-- add js display selected protocol on the right side -->
                                {{ protocol.protocol_name }}
                            </td>
                            <!-- <td>{{ protocol.updated_date }}</td>

                            <td>{{ protocol.uploaded_by.username }}</td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div id="protocol_details" class="col">
                <table class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Protocol Name</th>
                            <th>Spec Number</th>
                            <th>Requirement Title</th>
                            <th>Region</th>
                            <th>Test Method</th>
                            <th>Requirement</th>
                            <th>Protocol Section</th>
                            <th>Latest Updated Time</th>
                            <th>Last Updated By</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for pd in protocol_detail %}
                        <tr>
                            <td>{{ pd.id }}</td>
                            <td>{{ pd.get_protocol_name }}</td>
                            <td>{{ pd.speck_number }}</td>
                            <td>{{ pd.requirement_title }}</td>
                            <td>{{ pd.region }}</td>
                            <td>{{ pd.test_method }}</td>
                            <td>{{ pd.requirement }}</td>
                            <td>{{ pd.protocol_section }}</td>
                            <td>{{ pd.latest_update_date }}</td>
                            <td>{{ pd.last_updated_by_1 }}</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}