{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <div calss="row">
        <p>Hi {{ request.user.username }} these are your today's Tasks</p>
        <div id="task_info">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ASIN</th>
                        <th>description</th>
                        <th>region</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for asin in asins %}
                    <tr>
                        <td>{{ asin.id}}</td>
                        <td>
                            <a href="https://www.amazon.com/dp/{{ asin.asin }}/?psc=1" target="_blank">{{ asin.asin }}
                            </a></td>
                        <td>{{ asin.item_name }}</td>
                        <td>{{ asin.marketplace_id}}</td>
                        <td>
                            <a href="{% url "tasks" %}">Start Review</a>
                        </td>
                        <td>
                            Assigned
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}