{% extends 'base.html' %}
{% load sample_level %}
{% block content %}
<div class="container ">
    <div calss="row">
        <p>Hi {{ request.user.username }} these are your today's Tasks</p>
        <div id="task_info">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ASIN</th>
                        <th>description</th>
                        <th>region</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% with "SPB" as task_type %}
                        {% with "B07N8DRWBX" as test_asin %}
                        <td>0</td>
                        <td><a href="#">test asin</a></td>
                        <td>this is a test</td>
                        <td>earth</td>
                        <td><a href="{% url 'tasks' task_type test_asin %}">Start Review</a></td>
                        <td>
                            Assigned
                        </td>
                        {% endwith %}
                        {% endwith %}
                    </tr>
                    {% for asin in asins %}
                    <tr>
                        <td>{{ asin.id}}</td>
                        <td>
                            <a href="{{ asin|get_web }}" target="_blank">{{ asin.asin }}
                            </a></td>
                        <td>{{ asin.item_name }}</td>
                        <td>{{ asin|get_marketplace_name }}</td>
                        <td>
                            <a href="{% url 'tasks' task_type asin.asin %}">Start Review</a>
                        </td>
                        <td>
                            Assigned
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}