{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style type="text/css">
    .header-fixed {
        width: 100%
    }

    .header-fixed>thead,
    .header-fixed>tbody,
    .header-fixed>thead>tr,
    .header-fixed>tbody>tr,
    .header-fixed>thead>tr>th,
    .header-fixed>tbody>tr>td {
        display: block;
    }

    .header-fixed>tbody>tr:after,
    .header-fixed>thead>tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .header-fixed>tbody {
        overflow-y: auto;
        height: 750px;
        overflow-x: hidden;
    }

    .header-fixed>tbody>tr>td,
    .header-fixed>thead>tr>th {
        width: 20%;
        float: left;
    }

    .hiddenRow {
        padding: 0 !important;
        width: 100%;
        float: left;
    }

    .hiddenRow>tbody {
        overflow-y: auto;
        overflow-x: auto;
    }

    .hiddenRow>tbody>tr>td {
        display: block;
        width: 50%;
        float: left;
        overflow-x: auto;
    }
    #mainframe{
        height:900px;
    }
</style>

<a href="{{ document.docfile.url }}"></a>
<link href="{% static 'dapsa/css/dapsa_analysis.css' %}" rel="stylesheet">
<script src="{% static 'dapsa/js/analysis.js' %}"></script>

<div id="mainframe" class="container-fluid">
    <div class="row row-no-gutters justify-content-center">

        <!-- frame too narrow in small screen-->
        <div id="displayframe" class="col-xl">
            <iframe class="embed-responsive-item" id="pdf" src="{{ document.docfile.url }}" width="100%" height="900px">
            </iframe>
        </div>

        <div id="results" class="col-sm">
            <p>Basic Information</p>
            <div class="row justify-content-center">
                <div class="table-responsive{small}">
                    {% for key, value in dict.items %}
                    {% if value %}
                    <div>
                        <span>{{ key }}:</span>
                        <a href="#" id="basic_item" class="basic_items" data-type="text"
                            data-title="Enter ">{{ value }}</a>
                    </div>
                    {% else %}
                    <div>
                        <span>{{ key }}:</span>
                        <a href="#" id="basic_item" class="basic_items" data-type="text" data-title="Enter ">Enter
                            {{ key }}</a>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div calss="row">
                <div class="col">
                    <div class="form-group">
                        <label for="sel1">Select Protocol:</label>
                        <select class="form-control" id="sel1">
                            {% for p in all_protocols %}
                            <option>{{ p }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div calss="col">
                    <button><a href="#">Submit</a></button>
                </div>
                <div class="col custom-control custom-switch text-right">
                    <input type="checkbox" class="custom-control-input" id="customSwitches" checked>
                    <label class="custom-control-label" for="customSwitches">Failures only</label>
                </div>
            </div>
            <div class="row" style="overflow: auto">
                <table id="conclusion-table" class="table table-hover table-sm header-fixed table-striped">

                    <caption>Conclusion Table</caption>
                    <thead>
                        <th>Speck Number</th>
                        <th>Requirement_title</th>
                        <th>Regions</th>
                        <th>Status</th>
                        <th>accurate rate</th>
                    </thead>
                    <tbody>
                        {% for key, val in conclusions.items %}
                        {% for v in val %}
                        {% with v.0.speck_number as speckid %}
                        <tr data-toggle="collapse" data-target="#{{ speckid }}">
                            <div id="speck_check">
                                <td><a
                                        href="{% url 'mapping_check' task_type asin_number caseid v.0.speck_number %}">{{ v.0.speck_number }}</a>
                                </td>
                            </div>
                            <td>{{ v.0.requirement_title }}</td>
                            <td>{{ v.0.region}}</td>
                            <td class="text-success">{{ key }}</td>
                            <td class="text-success">100%</td>
                        </tr>

                        <tr>
                            <td colspan="5" class="hiddenRow" style='width: 100%'>
                                <div class="accordian-body collapse" id="{{ speckid }}">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <h5 class="card-title">Extraction Detail</h5>
                                            <ul>
                                                <li>Speck Number: {{ v.1.0 }}</li>
                                                <li>Regulation: {{ v.1.1 }}</li>
                                                <li>Test Item: {{ v.1.2 }}</li>
                                                <li>Country: {{ v.1.3 }}</li>
                                                <li>If Pass: {{ v.1.5 }}</li>
                                                <li>If Fail: {{ v.1.6 }}</li>
                                                <li>Coments: {{ v.1.7}}</li>
                                                <li>Page: page{{ v.1.8 }}</li>
                                            </ul>
                                            <h6 class="card-subtitle mb-2 text-muted">Requirement:</h6>
                                            <p class="card-text">{{ v.1.4 }}</p><br>
                                            <a href="#" class="card-link">Confirm</a>
                                            <a href="#" class="card-link">Sth else</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                        {% empty %}
                        <p>Empty</p>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>>

{% endblock %}